-# = react_component('TravelContainer', url: travels_url(format: :json), pollInterval: 10000)
.row
  .col-md-6
    %p{class: "about-header"}
      About
    .bio
      %p
        I am an Assistant Professor at
        =link_to "Carnegie Mellon University's", "https://www.cmu.edu"
        =link_to "Human-Computer Interaction Institute.", "https://www.hcii.cmu.edu"
        From 2018 - 2022, I was an Assistant Professor of
        =link_to "Interactive Computing", "https://ic.gatech.edu"
        at
        =link_to "Georgia Tech.", "https://gatech.edu"
      %p
        I direct the
        =link_to "SPUD (Security, Privacy, Usability and Design) Lab.", "https://cs.cmu.edu/~spudlab"
        Our work, at the intersection of HCI, AI and cybersecurity, is oriented around answering the question:
        %strong How can we design systems that empower people with improved agency over their personal data and experiences online?
        Some past and present research directions include:
        %ul
          %li
            %b
              Practitioner Support for AI Privacy:
            =link_to "AI Privacy Taxonomy (CHI Best Paper)", "https://sauvikdas.com/papers/51/serve", class: "project-highlight"
            =link_to "Barriers to AI Privacy Work (USENIX SEC Distinguished Paper)", "https://sauvikdas.com/papers/47/serve", class: "project-highlight"
            =link_to "Designing for AI Privacy (CSCW Honorable Mention)", "https://sauvikdas.com/papers/31/serve", class: "project-highlight"
            =link_to "Keynote talk — Privacy@Michigan 2025", "https://safecomputing.umich.edu/events/privacy/privacy-2025/dr-sauvik-das", class: "project-highlight"
            =link_to "USENIX PEPR talk", "https://www.youtube.com/watch?v=69GqgR_arOo", class: "project-highlight"
          %li
            %b
              Human-AI Teaming for Security & Privacy:
            =link_to "Image Ally (SOUPS)", "https://sauvikdas.com/papers/43/serve", class: "project-highlight"
            =link_to "Self-Disclosure Detection Model (ACL)", "https://sauvikdas.com/papers/55/serve", class: "project-highlight"
            =link_to "Helping People Make Informed Disclosure Decisions (CSCW)", "https://sauvikdas.com/papers/58/serve", class: "project-highlight"
          %li
            %b
              Human-centered Adversarial Machine Learning:
            =link_to "Subversive AI (Resistance AI Workshop)", "https://sauvikdas.com/papers/27/serve", class: "project-highlight"
            =link_to "Measuring Human-acceptability of Adversarial Perturbations (CSCW)", "https://sauvikdas.com/papers/49/serve", class: "project-highlight"
            =link_to "Data Defenses againt Large Language Models (pre-print)", "https://arxiv.org/abs/2410.13138", class: "project-highlight"
          %li
            %b
              Ethical Design for and with Language Agent Simulations:
            =link_to "Language Agent Simulations Reveal Implicit Bias in LLMs (pre-print)", "https://arxiv.org/html/2501.17420v1", class: "project-highlight"
          %li
            %b
              Privacy Collective Action & Governance:
            =link_to "Orchestrating distributed collectives for privacy (CHI)", "https://sauvikdas.com/papers/39/serve", class: "project-highlight"
            =link_to "Taxonomy of Lived Privacy Harms (FAccT)", "https://sauvikdas.com/papers/42/serve", class: "project-highlight"
            =link_to "Design Fictions for Privacy Harm Reporting (CSCW)", "https://sauvikdas.com/papers/56/serve", class: "project-highlight"
            =link_to "Privacy for the People Vision (IEEE S&P Mag)", "https://sauvikdas.com/papers/32/serve", class: "project-highlight"
          %li
            %b
              Physically-intuitive Privacy and Security (PIPS):
            =link_to "Smart Webcam Cover (IMWUT)", "https://sauvikdas.com/papers/35/serve", class: "project-highlight"
            =link_to "Powering for Privacy (USENIX SEC)", "https://sauvikdas.com/papers/46/serve", class: "project-highlight"
            =link_to "On-demand RFID (USEC)", "https://sauvikdas.com/papers/62/serve", class: "project-highlight"
          %li
            %b
              Social cybersecurity:
            =link_to "Social Proof Increases Security Acceptance (CCS; NSA Best Scientific Cybersecurity Paper Honorable Mention)", "https://sauvikdas.com/papers/9/serve", class: "project-highlight" 
            =link_to "SoK: Social Cybersecurity (Oakland)", "https://sauvikdas.com/papers/36/serve", class: "project-highlight"
            =link_to "How Groups Make Security Decisions (CHI Honorable Mention)", "https://sauvikdas.com/papers/23/serve", class: "project-highlight"
            =link_to "A Design Space for Group Cybersecurity Controls (USENIX SEC)", "https://sauvikdas.com/papers/34/serve", class: "project-highlight"
            =link_to "USENIX Enigma Talk", "https://www.youtube.com/watch?v=jcIlE4dGdWY", class: "project-highlight"
      %p
        A few of my papers have been recognized with awards:
        a best paper at UbiComp (2013) and CHI (2024),
        a distinguished paper at SOUPS (2020) and USENIX Security (2024),
        four best paper honorable mentions at CHI (2016, 2017, 2020, 2024),
        a best paper honorable mention at CSCW (2021),
        and an honorable mention for the NSA's Best Scientific Cybersecurity Paper (2014).
        My lab's work has been generously supported by the NSF, Facebook, Georgia Tech, and CMU.
        My work has also been covered by the popular press, including features on The Atlantic, The Financial Times and Dark Reading.
      %h4
        Prospective Ph.D. Students
      %p
        I am always on the lookout for talented Ph.D. students.
        If you are interested in working with me, I encourage you to apply to the
        = link_to "HCII Ph.D.", "https://www.hcii.cmu.edu/academics/phd-hci"
        at Carnegie Mellon and mention my name in your application.
        I'm afraid that I am unlikely to respond to cold e-mails; I just have too many
        other things to do in my limited workday.
        A few years ago, I made a
        = link_to "YouTube video", "https://www.youtube.com/watch?v=JqD2arlzXVE"
        on improving your odds at landing a position in a C.S. Ph.D. program.
      -# %p
        -# I write two (infrequently updated) blogs:
        -# =link_to "an academic blog,", "https://medium.com/@scyrus89"
        -# and
        -# =link_to "a privacy and security blog", "https://consult.sauvik.me"
        -# and a
        -# =link_to "vlog", "https://www.youtube.com/channel/UCn4ZcBS7p7N4KwVmJwy3bzQ?view_as=subscriber"
        -# covering topics on academia and research in HCI and cybersecurity.
    %hr
    = react_component('StudentsContainer', students: @students)
    %hr
    = react_component('AwardContainer', url: awards_url(format: :json))
    %hr
    = react_component('CoursesContainer', data: @courses)
  .col-md-6
    = react_component('PaperContainer', url: papers_url(format: :json), assets: @paperAssetMap, pollInterval: 10000)