= react_component('TravelContainer', url: travels_url(format: :json), pollInterval: 10000)

.row
  .about-me-container
    %p
      I am an Assistant Professor of
      =link_to "Interactive Computing", "https://ic.gatech.edu"
      at
      =link_to "Georgia Tech's", "https://gatech.edu"
      =link_to "College of Computing.", "https://cc.gatech.edu"
    %p
      I direct the
      =link_to "GT SPUD (Security, Privacy, Usability and Design) Lab.", "https://gtspuds.com"
      Our work, at the intersection of HCI, data science and cybersecurity, is oriented around answering the question:
      %strong How can we design systems that encourage better cybersecurity and privacy behaviors?
      A few directions of particular interest to us at the moment include: making cybersecurity and privacy systems that are social; designing AI assistants for security and privacy; exploring AR/VR to make security and privacy more engaging and accessible; and, making more usable developer tools that facilitate secure development.
    %p
      =link_to "Here's a short (2.5 minute) video", "https://www.youtube.com/watch?v=c9NkYEAfKK8"
      filmed by the CCC describing my social cybersecurity work. If you're interested in a more in-depth discussion,
      =link_to "here's my 20-minute presentation at USENIX Enigma.", "https://www.youtube.com/watch?v=jcIlE4dGdWY"
      If you want an even more in-depth discussion,
      =link_to "here's my 45-minute job talk.", "https://www.youtube.com/watch?v=f7S6teBu3c8"
    %p
      I am currently serving as an
      =link_to "associate editor for PACM IMWUT", "https://imwut.acm.org/editorial.cfm"
      and am serving a second term as an
      =link_to "associate chair for ACM SIGCHI", "http://chi2019.acm.org/authors/papers/selecting-a-subcommittee/#TOC-Engineering-Interactive-Systems-and-Technologies"
      on the Engineering Interative Systems and Technologies (EIST) subcommittee.
    %p
      I am a NDSEG fellow, a Qualcomm Innovation Fellow and a NSF EAPSI fellow. My work has won a best paper award at UbiComp, two best paper honorable mentions at CHI, and an honorable mention for the NSA's Best Scientific Cybersecurity Paper. My work has also been covered by the popular press, including features on The Atlantic, The Huffington Post, Forbes, The Financial Times, Slate and other significant media outlets. I am also very fortunate to have been awarded a NSF CRII grant to support my
      work as a new investigator.
    %p
      I have a
      =link_to "blog", "https://medium.com/@scyrus89"
      and a
      =link_to "vlog", "https://www.youtube.com/channel/UCn4ZcBS7p7N4KwVmJwy3bzQ?view_as=subscriber"
      covering topics on academia and research in HCI and cybersecurity. Both are infrequently updated, sadly.
    %p
      I received my Ph.D. from
      = link_to "CMU's", "https://cmu.edu"
      = link_to "HCII", "http://hcii.cmu.edu"
      where I was advised by
      = link_to "Jason Hong", "http://cs.cmu.edu/~jasonh"
      and
      = link_to "Laura Dabbish.", "http://lauradabbish.com"
      Prior to that, I obtained my Bachelor's degree in Computer Science from Georgia Tech.
%hr
.row
  .col.col-md-12
    %p
      I am teaching a new course on Usable Privacy & Security Research in the spring semester of 2019. Students may access the course website
      =link_to "here.", "https://cs8803.sauvik.me", target: '_blank'
%hr

.row
  .col-md-6
    = react_component('UpdateContainer', url: updates_url(format: :json), assets: @updateAssetMap, pollInterval: 10000)
  .col-md-6
    = react_component('AwardContainer', url: awards_url(format: :json))
%hr
.row
  .col-md-12
    = react_component('PaperContainer', url: papers_url(format: :json), assets: @paperAssetMap, pollInterval: 10000)