-# = react_component('TravelContainer', url: travels_url(format: :json), pollInterval: 10000)
.row
  .col-md-6
    %p{class: "about-header"}
      About
    .bio
      %p
        I am an Assistant Professor at
        =link_to "Carnegie Mellon University's", "https://www.cmu.edu"
        =link_to "Human-Computer Interaction Institute.", "https://www.hcii.cmu.edu"
        From 2018 - 2022, I was an Assistant Professor of
        =link_to "Interactive Computing", "https://ic.gatech.edu"
        at
        =link_to "Georgia Tech.", "https://gatech.edu"
      %p
        I direct the
        =link_to "SPUD (Security, Privacy, Usability and Design) Lab.", "https://gtspuds.com"
        Our work, at the intersection of HCI, AI and cybersecurity, is oriented around answering the question:
        %strong How can we design systems that empower people with improved agency over their personal data and experiences online?
        A few directions of particular interest to us at the moment include:
        %ul
          %li
            %b
              Social cybersecurity:
            creating cybersecurity and privacy systems that have a better understanding of human social behavior;
          %li
            %b
              Human-centered adversarial machine learning:
            designing human-centered AI systems that subvert algorithmic surveillance;
          %li
            %b
              Privacy through Design:
            developing new design processes that foreground consideration of privacy;
          %li
            %b
              Corporeal cybersecurity:
            creating tangible / corporeal cybersecurity and privacy interfaces; and,
          %li
            %b
              Privacy for the People: 
            designing an end-to-end system to facilitate grassroots privacy collective action.
      %p
        A few of my papers have been recognized with awards:
        a best paper at UbiComp (2013) and CHI (2024),
        a distinguished paper at SOUPS (2020) and USENIX Security (2024),
        four best paper honorable mentions at CHI (2016, 2017, 2020, 2024),
        a best paper honorable mention at CSCW (2021),
        and an honorable mention for the NSA's Best Scientific Cybersecurity Paper (2014).
        My lab's work has been generously supported by the NSF, Facebook, Georgia Tech, and CMU.
        My work has also been covered by the popular press, including features on The Atlantic, The Financial Times and Dark Reading.
      %h4
        Prospective Ph.D. Students
      %p
        I am always on the lookout for talented Ph.D. students.
        If you are interested in working with me, I encourage you to apply to the
        = link_to "HCII Ph.D.", "https://www.hcii.cmu.edu/academics/phd-hci"
        at Carnegie Mellon and mention my name in your application.
        I'm afraid that I am unlikely to respond to cold e-mails; I just have too many
        other things to do in my limited workday.
        A few years ago, I made a
        = link_to "YouTube video", "https://www.youtube.com/watch?v=JqD2arlzXVE"
        on improving your odds at landing a position in a C.S. Ph.D. program.
      -# %p
        -# I write two (infrequently updated) blogs:
        -# =link_to "an academic blog,", "https://medium.com/@scyrus89"
        -# and
        -# =link_to "a privacy and security blog", "https://consult.sauvik.me"
        -# and a
        -# =link_to "vlog", "https://www.youtube.com/channel/UCn4ZcBS7p7N4KwVmJwy3bzQ?view_as=subscriber"
        -# covering topics on academia and research in HCI and cybersecurity.
    %hr
    = react_component('StudentsContainer', students: @students)
    %hr
    = react_component('AwardContainer', url: awards_url(format: :json))
    %hr
    = react_component('CoursesContainer', data: @courses)
  .col-md-6
    = react_component('PaperContainer', url: papers_url(format: :json), assets: @paperAssetMap, pollInterval: 10000)