!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sauvik Das's Personal Homepage
    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}/
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Sans:wght@400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/mobx/5.15.7/mobx.umd.min.js'

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30333530-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-30333530-1', 'auto');
      ga('send', 'pageview');

    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    .mobile-header#mobileHeader
      %span.mobile-name Sauvik Das
      %button.mobile-menu-btn#drawerToggle{"aria-label" => "Open menu"}
        %svg{width: "22", height: "22", viewBox: "0 0 22 22", fill: "none", stroke: "currentColor", "stroke-width": "2", "stroke-linecap": "round"}
          %line{x1: "3", y1: "6", x2: "19", y2: "6"}
          %line{x1: "3", y1: "11", x2: "19", y2: "11"}
          %line{x1: "3", y1: "16", x2: "19", y2: "16"}
    .page-wrap
      %aside.sidebar
        = render partial: "layouts/sidebar"
      %main.main
        = yield
    .mobile-drawer#mobileDrawer
      .mobile-drawer-overlay#drawerOverlay
      .mobile-drawer-panel
        %button.mobile-drawer-close#drawerClose ×
        = render partial: "layouts/sidebar"
    #footer
      © Sauvik Das
      ="2009-#{DateTime.now.year}"
      · Thanks for stopping by!
    :javascript
      (function() {
        var sections = ['about', 'recruiting', 'students', 'publications'];
        var navLinks = {};
        sections.forEach(function(id) {
          var link = document.querySelector('.sidebar-nav a[href="#' + id + '"]');
          if (link) navLinks[id] = link;
        });

        function updateActive() {
          var scrollY = window.scrollY || window.pageYOffset;
          var current = sections[0];
          sections.forEach(function(id) {
            var el = document.getElementById(id);
            if (el && el.getBoundingClientRect().top <= 80) current = id;
          });
          sections.forEach(function(id) {
            if (navLinks[id]) navLinks[id].classList.toggle('active', id === current);
          });
        }

        updateActive();
        window.addEventListener('scroll', updateActive, { passive: true });
      })();

      (function() {
        var toggle = document.getElementById('drawerToggle');
        var drawer = document.getElementById('mobileDrawer');
        var overlay = document.getElementById('drawerOverlay');
        var close = document.getElementById('drawerClose');

        function openDrawer() { if (drawer) drawer.classList.add('open'); }
        function closeDrawer() { if (drawer) drawer.classList.remove('open'); }

        if (toggle) toggle.addEventListener('click', openDrawer);
        if (overlay) overlay.addEventListener('click', closeDrawer);
        if (close) close.addEventListener('click', closeDrawer);
        if (drawer) drawer.querySelectorAll('a[href^="#"]').forEach(function(a) {
          a.addEventListener('click', closeDrawer);
        });
      })();
